<div class="jumbotron">
  <h1>Who Brings What ?</h1>
  <p class="lead">Easly coordinate who brings what.</p>
  <p><%= link_to "Start coordinating", new_list_path, class: "btn btn-default" %></p>
</div>