<div class="input-group">
	<%= f.text_field :title, class: "form-control", placeholder: "New item", autofocus: true %>
	<span class="input-group-btn">
		<%= f.submit 'Create', class: "btn btn-default" %>
	</span>
</div>